*{
	margin: 0px;
	padding: 0px;
}
.container{
	width: 1000px;
	height: 600px;
	border:2px solid #333;
	margin: 30px auto;
	box-sizing: border-box;
	padding: 30px;
}

a{
	display: inline-block;
	padding: 15px 50px;
	background: #03a9f43b;
	font-size: 20px;
	text-decoration: none;
	color: #000;
	font-weight: bold;
	border-radius: 30px;
	border:4px solid #03a9f4;

	animation-name: myAnimation;
	animation-duration: 2s;
	animation-iteration-count: 20;
	animation-direction: alternate;
}



.btn-2{
	
	animation-direction: normal;
}

@keyframes myAnimation{
	
	0%{
		background: #03a9f43b;
	    border:4px solid #03a9f4;
	}
	100%{
		background: #03a9f4;
		border:4px solid #03a9f43b;
	}
	
}